.root {
  padding: 54px;
}

.alert-message {
  --alert-header-icon-color-error: var(--color-danger);
  --alert-header-icon-color-warning: var(--color-warning);
  --alert-header-icon-size: 36px;
  --alert-space-size: 18px;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 18px;
  width: 500px;
  background-color: var(--color-background);
}

.alert-message .alert-header + .alert-main {
  margin-top: 18px;
}

.alert-message .alert-main + .alert-footer {
  margin-top: 36px;
}

.alert-message .alert-footer {
  color: var(--color-light);
  font-size: 12px;
}

.alert-message h4 .item-text-with-icon {
  display: inline-flex;
  align-items: center;
}

.alert-message h4 .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--alert-header-icon-size);
  height: var(--alert-header-icon-size);
  border-radius: 50%;
  background-color: var(--alert-header-icon-color);
  color: var(--color-white);
}

.alert-message h4 .icon + .item-text {
  margin-left: 0.5ch;
}

.alert-message h4 .icon svg {
  font-size: calc(var(--alert-header-icon-size) / 9 * 4);
}

.alert-message.alert-error {
  --alert-header-icon-color: var(--alert-header-icon-color-error);
}

.alert-message.alert-warning {
  --alert-header-icon-color: var(--alert-header-icon-color-warning);
}

.alert-message p {
  line-height: 24px;
}

.alert-message p.message-content {
  font-size: 18px;
}

.alert-message p.original-message-content {
  color: var(--color-dull);
  font-size: 10px;
}

.alert-message p + p {
  margin-top: 9px;
}

.alert-message code {
  font-family: monospace;
}

.alert-message .alert-footer .item-text-with-icon {
  align-items: center;
}

.alert-message .alert-footer .item-text {
  font-weight: 600;
  font-size: 14px;
}
