.section {
  &.section-home {
    .is-loading {
      opacity: 0.5;
    }

    & > .header {
      .header-intro {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
      }
    }

    .header-overview + .header-intro {
      margin-top: calc(var(--gap) * 2);
    }

    .home-section {
      .header {
        opacity: 1;
        transition: opacity 250ms ease-in-out;

        .header-overview {
          flex-direction: row;

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            box-sizing: border-box;
            width: var(--header-section-icon-size);
            height: var(--header-section-icon-size);
            border-radius: 50%;
            background-color: var(--color-accent-alt);
            color: var(--color-background);
            font-size: calc(var(--header-section-icon-size) / 9 * 4);
            text-align: center;
          }

          .header-content {
            display: inline-flex;
            flex-wrap: wrap;
          }

          .icon + .header-content {
            margin-left: var(--header-section-icon-space-after);
          }

          h3 {
            &:has(+ h4) {
              &::after {
                content: '·';
                margin-left: 0.5ch;
                margin-right: 0.5ch;
              }
            }
          }

          h4 {
            font-weight: 100;
          }
        }
      }
    }

    @media screen and (min-width: 613px) {
      & > .header {
        &.is-loading {
          p {
            min-height: calc(var(--gap) * 4.25);
          }
        }
      }

      .header-overview {
        .header-content {
          padding-top: calc(var(--gap) / 4);
          padding-bottom: calc(var(--gap) / 4);
        }

        h3,
        h4 {
          font-size: 45px;
          line-height: 54px;
        }
      }

      .header + .home-subsection {
        margin-top: calc(var(--gap) * 3);
      }

      .chart-section + .leaderboard-section {
        margin-top: calc(var(--gap) * 2);
        padding-top: calc(var(--gap) * 2);
      }
    }

    @media screen and (max-width: 612px) {
      & > .header {
        &.is-loading {
          p {
            min-height: calc(var(--gap) * 4.125);
          }
        }
      }

      .header-overview {
        .header-content {
          padding-top: calc(var(--gap) / 2);
          padding-bottom: calc(var(--gap) / 2);
        }

        h3,
        h4 {
          font-size: 27px;
        }
      }

      .header + .home-subsection {
        margin-top: calc(var(--gap) * 2);
      }

      .chart-section + .leaderboard-section {
        margin-top: calc(var(--gap) * 1.5);
        padding-top: calc(var(--gap) * 1.5);
      }
    }
  }
}
