.section {
  &.section-sources {
    .section-index {
      .item-subhead {
        color: var(--color-accent);
      }

      .item-subhead + .item-index-group,
      .item-subhead + .item-index-subgroup,
      .item-subhead + .item-index-group-grid {
        margin-top: var(--gap);
      }

      .item-index-group {
        & > .item-subhead {
          .item-subhead-content {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            width: 100%;

            p {
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }

      .item-index-group + .item-index-group {
        margin-top: calc(var(--gap) * 2);
      }

      .item-index-subgroup + .item-index-subgroup {
        margin-top: calc(var(--gap) * 2);
      }

      .item-index-group-grid {
        display: grid;
        grid-auto-rows: minmax(36px, auto);
        gap: var(--gap);
      }
    }

    .item-detail {
      .meta-section + .activity-overview {
        margin-top: calc(3 * var(--gap));
      }
    }

    .item-source {
      position: relative;
      display: grid;
      grid-template-columns: 36px 1fr;
      gap: var(--gap);

      &:hover {
        border-bottom: none;

        .item-source-description {
          h6 {
            text-decoration: underline;
          }
        }
      }

      .item-source-icon {
        display: grid;
        place-items: center;

        .icon {
          font-size: 14px;
        }
      }

      .item-source-description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: calc(var(--gap) / 6);

        h6 {
          color: var(--color-black);
          font-size: 14px;
          line-height: 18px;
        }

        p {
          color: var(--color-gray);
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .item-source + .item-source {
      &::before {
        content: '';
        position: absolute;
        top: calc(var(--gap) / 2 * -1);
        width: 100%;
        height: 1px;
        display: block;
        border-top: 1px solid var(--color-divider);
      }
    }
  }
}
