.eyes {
  display: flex;
  column-count: 3;
  scale: 1 1;

  .icon {
    transform: scale(1, 1);
  }

  @keyframes blink {
    0% {
      scale: 1 1;
    }
    40% {
      scale: 1 1;
      animation-timing-function: ease-in;
    }
    55% {
      scale: 1 0.25;
    }
    70% {
      scale: 1 1;
      animation-timing-function: ease-in;
    }
    85% {
      scale: 1 0.25;
    }
    100% {
      scale: 1 1;
      animation-timing-function: ease-out;
    }
  }
}
