.incident-activity-stat-groups {
  h5 {
    display: flex;
    line-height: 27px;

    .item-text {
      line-height: 27px;
    }
  }

  .activity-stat-group + .activity-stat-group {
    margin-top: calc(var(--gap) * 3);
  }

  @media screen and (min-width: 813px) {
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: 1fr 3fr;
  }

  @media screen and (max-width: 812px) {
    .item-subhead + .incident-activity-stat-groups-list {
      margin-top: var(--gap);
    }
  }
}
