.incident-activity-stat-group {
  .item-subsection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(261px, 1fr));
    grid-gap: var(--gap);
  }

  .activity-stat-titles {
    font-size: 13px;
    font-weight: 200;

    &:has(+ .activity-stat-value) {
      margin-top: calc(var(--gap) / 3);
      margin-bottom: calc(var(--gap) * 1.33333);
    }
  }

  .activity-stat-value {
    table {
      width: 100%;
    }
  }

  @media screen and (max-width: 812px) {
    .activity-stat-titles {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 576px) {
    .item-subsection {
      grid-gap: calc(var(--gap) * 2);
    }
  }
}
