.incident-activity-stat-group {
  .item-subsection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(261px, 1fr));
    grid-gap: calc(var(--gap) * 2);
  }

  .activity-stat-value {
    table {
      width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    .item-subsection {
      grid-gap: calc(var(--gap) * 2);
    }
  }
}
