.incident-attendees {
  .incident-attendee {
    .attendee-name-reported-as {
      color: var(--color-text-light);
      font-weight: 200;
      font-size: 12px;

      &::before {
        content: 'as “';
      }

      &::after {
        content: '”';
      }
    }

    .attendee-role {
      color: var(--color-text-light);
      font-weight: 300;
      font-size: 12px;
    }

    a + .attendee-name-reported-as {
      margin-left: 0.5ch;
    }
  }

  .incident-attendee + .incident-attendee {
    margin-top: calc(var(--gap) / 6);
    padding-top: calc(var(--gap) / 6);
    border-top: 1px solid var(--color-divider-lighter);
  }
}
