.incident-list-table-frame {
  position: relative;
  padding: 9px;
  border-radius: 9px;
  background: linear-gradient(to bottom, rgba(var(--color-table-frame-background), 0.5) 50%, rgba(var(--color-table-frame-background), 0.25) 100%);

  .incident-list-table {
    padding: 2px;
    border-radius: 9px;
    background-color: rgba(var(--color-table-frame-background), 0.25);
    overflow-x: auto;
  }

  table {
    table-layout: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    z-index: 2;
  }

  thead {
    tr {
      background-color: var(--color-table-header-background);
      color: var(--color-table-header-text);
    }

    th {
      color: var(--color-table-header-text);
    }
  }

  tbody {
    box-shadow: 0 -1px 6px var(--color-blue);
    background-color: var(--color-table-background);
  }

  th, td {
    padding: 9px;
    text-align: left;

    &:first-child {
      padding-left: 18px;
    }
  }

  td {
    padding: 9px;
  }

  .cell-date {
    width: 20ch;
    white-space: nowrap;

    .has-notes {
      display: inline-flex;

      .icon {
        margin-left: 1ch;
        color: var(--color-accent-alt-lighter);
        font-size: 6px;
      }
    }
  }

  .cell-entity {
    width: 27ch;
    font-weight: 600;
  }

  .cell-link {
    padding: 0;
    width: 36px;
    font-weight: 600;
    vertical-align: middle;

    a {
      display: inline-block;
      padding: 9px;
      width: 18px;
      text-align: center;

      &:hover {
        border-bottom: none;
      }
    }
  }

  .link-sort {
    color: inherit;

    &:hover {
      border-bottom: none;

      .icon {
        color: var(--color-orange);
      }
    }

    &.is-active {
      border-bottom: none;
    }

    .icon {
      font-size: 9px;
    }
  }

  tr {
    &.incident-list-item {
      td {
        border-top: 1px solid var(--color-table-divider);
      }

      &.is-selectable {
        &:hover {
          td {
            cursor: pointer;
            background-color: var(--color-table-divider);
            color: var(--color-table-text-hover);
          }

          a {
            color: var(--color-table-text-hover);
          }
        }
      }
    }

    &.is-selected {
      cursor: pointer;
      background-color: var(--color-table-border);
      color: var(--color-white);
    }
  }

  .incident-list-item-detail {
    tr {
      th {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0;
      }

      td {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  @media screen and (min-width: 813px) {
    table {
      width: 100%;
    }
  }

  @media screen and (max-width: 812px) {
    .cell-date {
      min-width: 15ch;
    }

    .cell-entity {
      min-width: 22ch;
    }

    .cell-topic {
      min-width: 45ch;
    }
  }
}
