.incident-list {
  font-size: 12px;
  line-height: 18px;

  .incident-list-footer {
    padding: 18px 9px;
    color: var(--color-table-footer-color);
  }

  @media (prefers-contrast: more) {
    .incident-list-footer {
      a {
        text-decoration: none;
      }
    }
  }
}
