.incident-notes-box {
  border-color: var(--color-brown);

  .meta-section-box-icon {
    background-color: var(--color-lightest-brown);

    .icon {
      color: var(--color-brown);
    }
  }
}

.source-information-box {
  border-color: var(--color-blue);

  .meta-section-box-icon {
    background-color: var(--color-light-blue);

    .icon {
      color: var(--color-blue);
    }
  }
}
