.incident-modal {
  .modal-overlay {
    background-color: rgba(var(--color-blue-rgb), 0);
    overflow: hidden;
    transition: background-color 250ms ease-in-out;
  }

  .modal-content {
    top: 54px;
    right: 0;
  }

  .modal-incident {
    --modal-incident-max-width: 500px;
    --modal-incident-min-width: 400px;
    --incident-header-icon-size: 36px;
    --incident-space-size: 18px;

    overflow: hidden;
    max-width: var(--modal-incident-max-width);
    min-width: var(--modal-incident-min-width);
    box-sizing: border-box;
    box-shadow: 3px 4px 9px var(--color-blue);
    background-color: var(--color-background);
    transform: translateX(var(--modal-incident-max-width));
    transition: transform 250ms ease-in-out;

    .incident-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: var(--incident-space-size);
      background: linear-gradient(rgba(var(--color-background-rgb), 1) 50%, rgba(var(--color-background-rgb), 0) 100%);
    }

    .incident-main {
      padding: 72px var(--incident-space-size) calc(53px + var(--gap)) var(--incident-space-size);
      height: calc(100% - 72px - 53px - 36px);
      overflow: auto;
    }

    .incident-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: var(--incident-space-size);
      background-color: var(--color-lighter);
    }

    .item-subhead {
      h4 {
        display: inline-flex;
      }
    }

    .incident-footer {
      .item-text-with-icon {
        align-items: center;

        .icon + .item-text {
          margin-left: 1ch;
        }
      }

      .item-text {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  &.modal-appear,
  &.modal-enter,
  &.modal-exit {
    .modal-incident {
      position: relative;
      top: 0;
      bottom: 0;
      overflow: auto;
      height: 100%;
    }
  }

  &[class*="modal-enter"] {
    .modal-overlay {
      background-color: rgba(var(--color-blue-rgb), 0.75);
    }

    .modal-incident {
      transform: translateX(0);
    }
  }

  .incident-table + .meta-section {
    margin-top: var(--gap);
  }

  @media screen and (max-width: 600px) {
    .modal-content {
      top: 36px;
      left: 0;
      max-height: calc(100vh - 36px);
    }

    .modal-incident {
      --modal-incident-max-width: 100%;
      --modal-incident-min-width: 100%;
    }
  }

  @media screen and (max-height: 420px) {
    .modal-content {
      top: 36px;
      bottom: 36px;
      max-height: calc(100vh - 36px);
    }

    .modal-incident {
      height: 100%;
    }
  }

  @media screen and (max-height: 780px) {
    .modal-content {
      top: 36px;
    }
  }

  @media screen and (min-width: 601px) {
    .modal-incident {
      border-top-left-radius: var(--incident-space-size);
      border-bottom-left-radius: var(--incident-space-size);
    }
  }
}
