.incident-modal {
  .modal-overlay {
    background-color: rgba(var(--color-blue-rgb), 0);
    overflow: hidden;
    transition: background-color 250ms ease-in-out;
  }

  .modal-content {
    top: calc(var(--gap) * 3);
    // bottom: calc(var(--gap) * 2);
    right: 0;
    max-height: calc(100% - (var(--gap) * 8));
  }

  .modal-incident {
    --modal-incident-max-width: 500px;
    --modal-incident-min-width: 400px;
    --incident-header-icon-size: 36px;
    --incident-space-size: 18px;

    overflow: auto;
    max-width: var(--modal-incident-max-width);
    min-width: var(--modal-incident-min-width);
    max-height: calc(100vh - 54px - 54px);
    box-sizing: border-box;
    box-shadow: 3px 4px 9px var(--color-blue);
    background-color: var(--color-background);
    transform: translateX(var(--modal-incident-max-width));
    transition: transform 250ms ease-in-out;

    .incident-header {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: var(--incident-space-size);
      background: linear-gradient(rgba(var(--color-background-rgb), 1) 50%, rgba(var(--color-background-rgb), 0) 100%);

      .item-subhead-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .icon-link {
        background-color: transparent;
        outline: 1px solid var(--color-link);
        color: var(--color-link);
      }
    }

    .incident-main {
      padding: calc(var(--gap) * 3.5) var(--incident-space-size) calc(var(--gap) * 1.5) var(--incident-space-size);
      max-height: calc(100% - 72px - 53px - 36px);
      overflow: auto;
    }

    .item-subhead {
      h4 {
        display: inline-flex;
      }
    }
  }

  &.modal-appear,
  &.modal-enter,
  &.modal-exit {
    .modal-incident {
      position: relative;
      top: 0;
      bottom: 0;
      overflow: auto;
      height: 100%;
    }
  }

  &[class*="modal-enter"] {
    .modal-overlay {
      background-color: rgba(var(--color-blue-rgb), 0.75);
    }

    .modal-incident {
      transform: translateX(0);
    }
  }

  .incident-table + .meta-section {
    margin-top: var(--gap);
  }

  @media screen and (max-width: 600px) {
    .modal-content {
      top: calc(var(--gap) * 2);
      left: 0;
      max-height: calc(100vh - 36px);
    }

    .modal-incident {
      --modal-incident-max-width: 100%;
      --modal-incident-min-width: 100%;
    }
  }

  @media screen and (max-height: 420px) {
    .modal-content {
      top: calc(var(--gap) * 2);
      bottom: calc(var(--gap) * 2);
      max-height: calc(100vh - calc(var(--gap) * 2));
    }

    .modal-incident {
      height: 100%;
    }
  }

  @media screen and (max-height: 780px) {
    .modal-content {
      top: calc(var(--gap) * 2);
      bottom: calc(var(--gap) * 2);
      overflow: auto;
    }

    .modal-incident {
      max-height: 100%;
    }
  }

  @media screen and (min-width: 601px) {
    .modal-incident {
      border-top-left-radius: var(--incident-space-size);
      border-bottom-left-radius: var(--incident-space-size);
    }
  }
}
