.incident-stat-group {
  .activity-stat {
    &.has-icon {
      .icon {
        color: var(--color-accent-alt-lighter);
      }
    }
  }

  .activity-stat + .activity-stat {
    margin-top: 9px;
  }

  .activity-stat-titles {
    color: var(--color-accent-darker);
    font-size: 12px;
    line-height: 21px;
  }

  .activity-stat-title {
    font-weight: 600;
  }

  .activity-stat-value {
    font-size: 14px;
    line-height: 21px;
  }

  a {
    color: var(--color-link);
  }
}
