.incident-table {
  --color-divider: var(--color-light-gray);

  width: 100%;

  tr {
    vertical-align: top;
  }

  th, td {
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 18px;
    text-align: left;
    height: 100%;
  }

  tr {
    &:nth-of-type(n + 2) {
      border-top: 1px solid var(--color-divider);
    }
  }

  th {
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--color-table-accent);

    &::after {
      content: ':';
    }
  }

  td {
    padding-left: var(--gap);
    font-size: 14px;

    a {
      font-weight: 600;
    }
  }
}
