.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .pagination-pages {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .pagination-page {
    font-weight: 600;
  }

  .pagination-direction {
    .icon {
      color: var(--color-table-link);
      opacity: 0.5;
    }

    a {
      .icon {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 601px) {
    .pagination-pages {
      li + li {
        margin-left: 1rem;
      }

      .pagination-page-current {
        a {
          &.is-active {
            border-bottom: 2px solid currentColor;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .pagination-pages {
      .pagination-page-current ~ .pagination-page-label,
      .pagination-page-label ~ .pagination-page-total {
        margin-left: 1rem;
      }

      .pagination-page-option,
      .pagination-page-ellipsis {
        display: none;
      }
    }

    .pagination-direction {
      font-size: 18px;
    }
  }
}
