.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .pagination-pages {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li + li {
      margin-left: 1rem;
    }
  }

  .pagination-page {
    font-weight: 600;
  }

  .pagination-direction {
    .icon {
      color: var(--color-table-link);
      opacity: 0.5;
    }

    a {
      .icon {
        opacity: 1;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .pagination-pages {
      display: none;
    }

    .pagination-direction {
      font-size: 18px;
    }
  }
}
