.section {
  .header {
    .header-overview {
      display: flex;
    }

    .header-identity {
      display: inline-flex;
      align-items: center;
      margin-top: calc(var(--gap) / 9);
      white-space: nowrap;

      h1 {
        font-family: 'Darumadrop One';
        font-size: 24px;
        text-shadow: 0 0 9px var(--color-background);
        text-transform: uppercase;

        .text-primary {
          margin: 0 0.25ch;
          color: var(--color-black);
        }

        .text-secondary {
          margin-top: 0.0833em;
          color: var(--color-lighter-brown);
          font-size: 75%;
        }
      }

      a.header-identity-link {
        display: flex;
        align-items: center;
        transform: scale(1);
        transition: transform 250ms ease-in-out;

        &:hover {
          border-bottom: none;
          transform: scale(1.05);
        }
      }

      .header-identity-eyes {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: calc(var(--gap) / 4);
        width: var(--header-eyes-size);
        height: var(--header-eyes-size);
        border-radius: 50%;
        background-color: var(--color-lightest-brown);
        color: var(--color-almost-black);
        font-size: 8px;
        z-index: 1;

        .eyes {
          flex-grow: 0;
          flex-shrink: 0;
          justify-content: center;
          width: 100%;
          height: var(--header-eye-size);
          gap: 1.5px;
        }

        .icon {
          width: var(--header-eye-size);
          height: var(--header-eye-size);
        }

        &:hover {
          .icon {
            animation: blink 500ms;
          }
        }
      }
    }

    .header-section {
      display: flex;
      align-items: flex-start;
    }

    .header-section-icon {
      flex-shrink: 0;
      position: relative;
      width: var(--header-section-icon-size);
      height: var(--header-section-icon-size);
      border-radius: 50%;
      background-color: var(--color-header-icon);
      z-index: 2;

      &.has-link {
        background-color: var(--color-header-icon-link);
        box-shadow: 0px 1px 3px var(--color-gray);
        transition: width 250ms ease-in-out,
                    height 250ms ease-in-out;

        .icon {
          transition: background-color 250ms ease-in-out,
                      width 250ms ease-in-out,
                      height 250ms ease-in-out;
        }
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--header-section-icon-size);
        height: var(--header-section-icon-size);
        color: var(--color-white);

        &.has-link {
          transition: background-color 250ms ease-in-out,
                      width 250ms ease-in-out,
                      height 250ms ease-in-out;
        }

        svg {
          font-size: calc(var(--header-section-icon-size) / 9 * 4);
        }
      }
    }

    .header-section-title {
      margin: calc(var(--gap) / 2) 0;

      h2 {
        font-family: 'Darumadrop One';
        font-size: 33px;
        text-transform: uppercase;
      }
    }

    .header-section-icon + .header-section-title {
      margin-left: var(--header-section-icon-space-after);
    }

    .section-icon {
      display: block;
    }

    &.has-subheader {
      // margin: calc(var(--gap) / 6) 0;

      h2 {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        a {
          color: var(--color-header-accent);
        }
      }

      h3 {
        font-size: 32px;
        line-height: 36px;

        a {
          color: var(--color-black);
        }
      }

      h4 {
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
      }

      h3 + h4 {
        margin-top: calc(var(--gap) / 6);
      }

      .header-section-detail + .header-section-detail {
        &::before {
          content: '·';
          margin-left: calc(var(--gap) / 2);
          margin-right: calc(var(--gap) / 2);
        }
      }
    }

    & + .section-index,
    & + .item-detail {
      margin-top: 36px;
    }
  }

  .header + .section-main {
    margin-top: calc(var(--gap) * 4);
  }

  @media screen and (min-width: 813px) {
    --header-eyes-size: var(--header-eyes-size-large);
    --header-eye-size: var(--header-eye-size-large);

    .header {
      .header-overview {
        align-items: flex-start;
      }

      .header-identity {
        h1 + .header-identity-eyes {
          margin-left: var(--gap);
        }
      }

      .header-identity + .header-section {
        margin-left: calc(var(--gap) / 1.5 * -1);
      }
    }
  }

  @media screen and (max-width: 812px) {
    --header-eyes-size: var(--header-eyes-size-small);
    --header-eye-size: var(--header-eye-size-small);

    .header {
      .header-overview {
        flex-direction: column;
      }

      .header-identity {
        align-self: center;

        .header-identity-eyes {
          display: none;
        }
      }

      .header-identity + .header-section {
        margin-top: calc(var(--gap) * 2);
      }

      .header-section-title {
        margin-top: calc(var(--gap) / 2);
      }
    }

    .header + .section-main {
      margin-top: calc(var(--gap) * 2);
    }
  }

  @media screen and (min-width: 613px) {
    --header-section-icon-size: var(--header-section-icon-size-large);

    .header {
      .header-identity {
        margin-top: 0;
      }

      &.has-subheader {
        .header-section-title {
          margin-top: calc(var(--gap) / 6);
          margin-bottom: calc(var(--gap) / 6);
        }
      }

      .header-overview + .header-intro {
        margin-top: calc(var(--gap) * 2);
      }

      .header-identity + .header-identity-eyes {
        margin-left: var(--gap);
      }

      .header-section-icon {
        &.has-link {
          .icon {
            transition: transform 1s ease-in-out;
          }

          &:hover {
            .icon {
              transform: rotate(720deg) scale(1.5);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 612px) {
    --header-eyes-size: var(--header-eyes-size-small);
    --header-section-icon-size: var(--header-section-icon-size-small);
    --header-section-icon-size: var(--header-section-icon-size-small);

    .header {
      .header-identity {
        h1 {
          font-size: 18px;
        }
      }

      .header-section-title {
        margin-top: calc(var(--gap) / 6);
      }

      &.has-subheader {
        .header-section-title {
          margin-top: 0;
        }

        h2 + h3 {
          margin-top: calc(var(--gap) / 6);
        }

        h3 {
          font-size: 24px;
          line-height: 27px;
        }

        h4 {
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    padding-left: var(--layout-margin-x);
    padding-right: var(--layout-margin-x);
  }
}