.affiliated-items {
  &.no-results {
    padding-bottom: 6px;
    padding-top: 6px;
    color: var(--color-text-lighter);
    font-size: 16px;
  }

  .item-table-more {
    flex-direction: row-reverse;
  }
  .item-table-more-options {
    .item-text-with-icon {
      .item-text {
        &::after {
          content: ':';
        }
      }
    }
  }

  a {
    color: var(--color-link);
  }
}
