.item-detail {
  .item-content + .item-footer {
    margin-top: 2rem;
  }

  .item-content + .incident-list-section {
    margin-top: calc(var(--gap) * 2);
  }

  .activity-meta-section + .activity-stat-section {
    padding-top: calc(var(--gap) * 3);
  }

  .activity-overview + .incident-activity-stat-groups {
    margin-top: calc(var(--gap) * 3);
    padding-top: calc(var(--gap) * 3);
    border-top: 3px solid var(--color-divider);
  }

  .incident-activity-stat-groups + .incident-activity-stat-groups,
  .incident-activity-stat-groups + .incident-list-section {
    margin-top: calc(var(--gap) * 1.5);
    padding-top: calc(var(--gap) * 1.5);
  }

  .item-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2 / 1;
    padding: 18px;
    min-height: calc(var(--gap) * 5);
    border-radius: 9px;
    background-color: var(--color-stat-light);

    p {
      color: var(--color-dark-green);
      font-size: 12px;
    }
  }

  .chart-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    perspective: 1000px;

    svg {
      position: relative;
      width: 20px;
      height: 20px;
      transition: transform 1000ms ease-in-out;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      animation: boxflip 2000ms infinite;
    }

    rect {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      fill: rgba(var(--color-accent-alt-lighter-rgb), 0.5);
    }
  }
}

@keyframes boxflip {
  40% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  90% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
