.item-detail {
  .item-content + .item-footer {
    margin-top: 2rem;
  }

  .item-content + .incident-list-section {
    margin-top: 36px;
  }

  .activity-meta-section + .activity-stat-section {
    padding-top: calc(3 * var(--gap));
  }

  .activity-overview + .incident-activity-stat-groups {
    margin-top: calc(3 * var(--gap));
    padding-top: calc(3 * var(--gap));
    border-top: 3px solid var(--color-divider);
  }

  .incident-activity-stat-groups + .incident-activity-stat-groups,
  .incident-activity-stat-groups + .incident-list-section {
    margin-top: calc(3 * var(--gap));
  }

  .item-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    min-height: calc(5 * var(--gap));
    border-radius: 9px;
    background-color: var(--color-stat-light);

    p {
      color: var(--color-dark-green);
      font-size: 12px;
    }
  }
}
