.item-subhead {
  line-height: 27px;

  h4 + h5,
  h5 + h5 {
    margin-left: 0.5ch;
  }

  &.has-border {
    padding-top: 9px;
    border-top: 3px solid var(--color-divider);
  }

  &.has-icon {
    display: flex;
    align-items: flex-start;

    .icon + .item-subhead-content {
      margin-left: calc(var(--gap) / 2);
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: var(--color-accent-alt);
    color: var(--color-background);
    font-size: 10px;
    text-align: center;
  }

  .item-text {
    line-height: 24px;
  }

  .icon + .item-text,
  .item-text + .icon {
    margin-left: calc(var(--gap) / 2);
  }

  .item-description {
    color: var(--color-text-lighter);
  }

  & + .item-subsection {
    margin-top: var(--gap);
  }
}
