.item-table {
  width: 100%;

  .cell-name {
    text-align: left;
  }

  .cell-total,
  .cell-percent {
    text-align: right;
  }

  th, td {
    padding: 9px;
    vertical-align: middle;
    border-bottom: 1px solid var(--color-divider);

    &:last-child {
      padding-right: 0;
    }
  }

  th {
    &:first-child {
      padding-left: 0;
    }
  }

  td {
    &:first-child {
      padding-left: 9px;
    }

    &.cell-type {
      padding: 0;
      width: 27px;
      height: 27px;
      width: 14px;
      color: var(--color-light);
      font-size: 10px;
      vertical-align: top;

      .icon,
      .icons {
        margin-top: calc(var(--gap) / 9);
        width: 27px;
        height: 27px;
        max-height: 27px;
      }

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .icons {
        position: relative;

        .icon {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin-top: 0;
        }

        .icon-registered {
          top: auto;
          left: auto;
          right: -3px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          border: 1px solid var(--color-white);
          background-color: var(--color-green);
          color: var(--color-white);
          font-size: 6px;
        }
      }
    }

    &.cell-name {
      padding-top: calc(var(--gap) / 3);
      padding-bottom: calc(var(--gap) / 3);
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;

      a {
        color: var(--color-link);
        white-space: wrap;
      }

      .item-description {
        margin-top: calc(var(--gap) / 6);
        color: var(--color-text-lighter);
        font-weight: 200;
        font-size: 13px;
        line-height: 21px;
        white-space: wrap;
      }
    }

    &.cell-total {
      font-weight: 400;
      font-size: 14px;
      vertical-align: top;

      a {
        color: var(--color-text-lighter);
        font-weight: 600;
        font-size: 10px;

        .icon {
          color: inherit;
        }

        &:hover {
          border-bottom: none;
          color: var(--color-link);
        }
      }

      .item-text-with-icon {
        align-items: center;

        .icon {
          margin-right: 1ch;
          font-size: 10px;
        }
      }
    }

    &.cell-percent {
      padding-top: calc(var(--gap) / 3 * 2);
      width: 7ch;
      font-weight: 600;
      font-size: 10px;
      vertical-align: top;
    }
  }
}
