@import "lib/all";
@import "base";
@import "util/all";
@import "layout/all";

@import "items/all";

.alert {
  cursor: default;
}

.alert-stack {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 54px;
  font-family: monospace;
}
