@use "lib/all";
@use "base";
@use "util/all" as all2;
@use "layout/all" as all3;

@use "items/all" as all4;

.alert {
  cursor: default;
}

.alert-stack {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 54px;
  font-family: monospace;
}
