.activity-header {
  h4 {
    color: var(--color-accent);
    font-weight: 500;
    font-size: 18px;
  }

  h4 + .header-intro {
    margin-top: var(--gap);
  }
}

.activity-subheader {
  color: var(--color-accent);

  h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }

  &.has-icon {
    .icon {
      width: 18px;
      height: 18px;
      background: initial;
      color: var(--color-accent-alt);
    }
  }
}
