.activity-header {
  .header-intro {
    strong {
      font-weight: 400;
    }
  }

  .header-content {
    p {
      color: var(--color-text-light);
    }
  }

  h4 {
    color: var(--color-accent);
    font-weight: 500;
    font-size: 18px;
  }

  h4 + .header-intro {
    margin-top: var(--gap);
  }


  @media screen and (min-width: 613px) {
    .header-intro + .header-content {
      margin-top: calc(var(--gap) / 3);
    }
  }

  @media screen and (max-width: 612px) {
    .header-intro + .header-content {
      margin-top: calc(var(--gap) / 2);
    }
  }
}

.activity-subheader {
  color: var(--color-accent);

  h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }

  &.has-icon {
    .icon {
      width: 18px;
      height: 18px;
      background: initial;
      color: var(--color-accent-alt);
    }
  }
}
