.activity-header {
  color: var(--color-accent);

  h4 {
    font-weight: 500;
    font-size: 18px;
  }
}

.activity-subheader {
  color: var(--color-accent);

  h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }

  &.has-icon {
    .icon {
      width: 18px;
      height: 18px;
      background: initial;
      color: var(--color-accent-alt);
    }
  }
}
