.activity-overview {
  .activity-numbers {

    .activity-stat {
      justify-content: space-between;
      padding: var(--gap) 0;
      padding: calc(var(--gap) / 2) 0;
      border-bottom: 2px solid var(--color-divider);

      &.is-interactive {
        .activity-stat-value {
          cursor: pointer;
          color: var(--color-link);

          &:hover {
            text-decoration: underline;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }

    .activity-stat-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .activity-stat-titles {
      font-weight: 400;
      font-size: 16px;
    }

    .activity-stat-value {
      color: var(--color-stat);
      font-weight: 200;
      font-size: 27px;
    }
  }
}
