.activity-overview {
  .activity-stat-section + .activity-stat-section {
    margin-top: calc(2.5 * var(--gap));
  }

  .activity-stat-section {
    & > .activity-header {
      height: 27px;
    }

    .activity-header + .activity-stat-group {
      margin-top: var(--gap);
    }
  }

  .activity-numbers-and-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 27px - var(--gap));
  }

  .activity-stat-group {
    .activity-subheader + .activity-stat {
      margin-top: calc(var(--gap) / 2);
    }
  }

  .activity-stat-group + .activity-stat-group {
    margin-top: calc(var(--gap) * 2);
  }

  .activity-stat {
    &.has-icon {
      .icon {
        color: var(--color-accent);
        font-size: 14px;
      }
    }
  }

  @media screen and (min-width: 813px) {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-column-gap: var(--gap);
  }

  @media screen and (max-width: 812px) {
    .item-subhead + .activity-stat-group,
    .activity-stat-group + .activity-stat {
      margin-top: var(--gap);
    }

    .activity-stat-section + .activity-stat-section {
      margin-top: calc(var(--gap) * 2);
    }
  }
}
