.activity-overview {
  .activity-stat-section + .activity-stat-section {
    margin-top: calc(2.5 * var(--gap));
  }

  .activity-stat-section {
    & > .item-subhead {
      height: 27px;

      h4 {
        color: var(--color-accent);
      }
    }

    .item-subhead + .activity-stat-group {
      margin-top: var(--gap);
    }
  }

  .activity-numbers-and-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 27px - var(--gap));

    .item-subhead {
      h5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .activity-stat-group {
    .item-subhead {
      color: var(--color-accent-alt);

      &.has-icon {
        .icon {
          width: 18px;
          height: 18px;
          background: initial;
          color: var(--color-accent-alt);
        }
      }
    }

    .item-subhead + .activity-stat {
      margin-top: calc(var(--gap) / 2);
    }
  }

  .activity-stat-group + .activity-stat-group {
    margin-top: calc(var(--gap) * 2);
  }

  .activity-stat {
    &.has-icon {
      .icon {
        color: var(--color-accent);
        font-size: 14px;
      }
    }
  }

  @media screen and (min-width: 813px) {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-column-gap: var(--gap);
  }

  @media screen and (max-width: 812px) {
    .item-subhead + .activity-stat-group,
    .activity-stat-group + .activity-stat {
      margin-top: var(--gap);
    }

    .activity-stat-section + .activity-stat-section {
      margin-top: calc(var(--gap) * 2);
    }
  }
}
