.activity-stat-details {
  &.activity-stat {
    padding: calc(var(--gap) / 2) 0;
  }

  .activity-stat-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-flow: wrap;
  }

  .activity-stat-value {
    font-size: 13px;
    line-height: 21px;
  }

  .item-subhead {
    &:has(+ .activity-stat-value) {
      margin-right: 1ch;
    }
  }
}

.activity-stat-details + .activity-stat-details {
  border-top: 1px solid var(--color-divider);
}
