.activity-stat-incident-count {
  background-color: var(--color-stat-light);

  .activity-stat-titles {
    color: var(--color-stat-label);
  }

  .activity-stat-value {
    color: var(--color-stat);
  }

  &.is-interactive {
    box-shadow: 0 1px 1px var(--color-accent-alt-lighter);
  }
}
