.leaderboard-section {
  .filters {
    color: var(--color-light);
  }

  .filter-intro {
    line-height: 21px;
  }

  .filter {
    line-height: 27px;
  }

  .header + .filters {
    margin-top: calc(var(--gap) * 2);
  }

  .filters + .home-subsection {
    margin-top: calc(var(--gap) * 2);
  }
}
