.leaderboard-section {
  .filters {
    color: var(--color-light);
  }

  .filter-intro {
    line-height: 21px;
  }

  .filter {
    line-height: 27px;
  }

  .subsection {
    .subsection-content {
      .item-subhead-content-title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
      }
    }

    @media screen and (min-width: 813px) {
      .subsection-header {
        grid-column: 1/span 4;
      }

      .subsection-content {
        grid-column: 5/span 8;
      }
    }
  }

  .header + .filters {
    margin-top: calc(var(--gap) * 2);
  }

  .filters + .subsection {
    margin-top: calc(var(--gap) * 0.5);
  }
}
