.leaderboard-subsection {
  & + & {
    margin-top: calc(var(--gap) * 3);
  }

  &.is-grid {
    @media screen and (min-width: 813px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: calc(var(--gap) * 2);
    }
  }
}
