.filter {
  min-height: 27px;
  font-size: 14px;
}

.filter-option {
  color: var(--color-light);
}

.filter-link {
  cursor: pointer;
  color: var(--color-link);
  font-weight: 600;

  &:hover {
    border-bottom: 1px solid var(--color-link);
  }
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-form-field {
  &[type="date"] {
    height: 22px;
  }

  &[type="search"] {
    height: 24px;
  }

  &[type="date"],
  &[type="search"] {
    border: 1px solid var(--color-gray);
    border-radius: 3px;
    color: inherit;
    font-family: monospace;
    font-size: 13px;
  }
}

.filter-form-fieldset {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;

  &:has(+ .filter-form-actions) {
    margin-right: calc(var(--gap) / 2);
  }

  :is(span):has(
    + input[type=date],
    + input[type=search],
    + select
  ),
  :is(
    input[type=date],
    input[type=search],
    select
  ):has(+ span) {
    margin-right: calc(var(--gap) / 3);
  }

  @media screen and (max-width: 600px) {
    &:has(+ .filter-form-actions) {
      margin-bottom: calc(var(--gap) / 2);
    }
  }
}

.filter-form-actions {
  display: flex;
  align-items: center;
  height: 27px;
}

.filter-form-button {
  cursor: pointer;
  border: none;
}

.filter-form-submit {
  padding: 6px 12px;
  border-radius: 12px;
  background-color: var(--color-link);
  color: var(--color-background);
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;

  &:has(+ .filter-form-cancel) {
    margin-right: calc(var(--gap) / 2);
  }
}

.filter-form-cancel {
  background-color: transparent;
}

.filter-form-cancel,
.filter-remove {
  color: var(--color-danger);
  font-weight: 600;

  &:hover {
    border-bottom-color: var(--color-danger);
  }
}
